/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-family-font);
  font-variation-settings: "wght" var(--font-weight-small, 400);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-gradient);
  background-attachment: fixed;
  background-image: var(--bg-image);
  background-size: cover;
}

.header {
  width: 700px;
  border: 2px #000 solid;
  text-align: center;
  padding: 128px 120px;
  margin: 100px 0;
  background-color: white;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
  font-family: var(--decoration-family-font);
}

.header__description {
  font-family: var(--decoration-family-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

main {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 49px;
}

.main__section {
  border: 1px solid #000;
  background-color: white;
}

.main__title {
  font-variation-settings: "wght" var(--font-weight-large, 700);
  border: 2px solid #000;
  font-size: 18px;
  padding: 5px 10px;
}

.span__decoration {
  position: absolute;
  right: 27px;
  top: 21px;
  color: #000;
  text-shadow: 0px 0px 2px #fff;
  font-size: 14px;
  font-family: var(--decoration-family-font);
  opacity: 50%;
  line-height: 21px;
  mix-blend-mode: hard-light;
}

@supports (text-stroke: #fff) or (-webkit-text-stroke: 1px #fff) {
  .span__decoration {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: #fff;
  }
}

.main__img {
  position: relative;
  max-width: 700px;
  max-height: 698px;
  object-fit: cover;
  object-position: center;
}

.bus__img {
  width: 100%;
  height: 100%;
}

.main__content {
  padding: 25px;
  font-size: 18px;
  border: 1px solid #000;
  border-top: none;
}

.main__description {
  line-height: 21px;
  font-size: 18px;
  max-width: 646px;
  font-variation-settings: "wght" var(--font-weight-small, 400);
  font-family: var(--main-family-font);
}

.main__subtext {
  margin-top: 27px;
}

.main__button {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 7px;
  margin-top: 25px;
}

.card-container__icon-button {
  padding: 0;
  width: 39px;
  height: 34px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
}

.like-icon {
  transform-origin: center;
  width: inherit;
  height: inherit;
  fill: black;
  position: relative;
  z-index: 1;
}

.card__like-button {
  background-color: white;
  width: 130px;
  height: 38px;
}

.animation-button {
  background-color: white;
  border: 2px solid #000;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.animation-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 100;
}

.save__button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 335px;
  min-height: 51px;
  margin: 0 auto;
  gap: 8px;
  margin-bottom: 103px;
  padding: 15px 18px;
  background-color: white;
}

.button__text {
  color: white;
  font-family: var(--decoration-family-font);
  font-size: 14px;
  line-height: 12.6px;
  position: relative;
  z-index: 200;
  mix-blend-mode: difference;
}

.dialog {
  position: fixed;
  inset: 0;
  font-size: 14px;
  padding: 30px 26px;
  max-width: 357px;
  
}
.floppy-image {
  position: relative;
  z-index: 1000;
  color: white;
  mix-blend-mode: difference;
}

.dialog .floppy-image {
  width: 91px;
  height: 40px;
}

.dialog[open] {
  flex-direction: column;

}

.dialog::backdrop {
  opacity: 0.75;
  background-color: black;
}

.dialog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog__container-text {
  gap: 20px;
  display: flex;
  align-items: center;
}

.dialog__button {
  background: transparent;
  border: 2px solid #000;
  text-align: center;
  width: 293px;
  height: 38px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.button__text-dialog {
  font-size: 14px;
  font-family: var(--decoration-family-font);
  font-weight: "wght" var(--font-weight-small, 400);
  line-height: 21px;
  text-transform: uppercase;
  padding: 0;
}

.original-img {
  filter: contrast(90%);
}

.grace__scale {
  filter: grayscale(50%);
}

.rotate {
  filter: hue-rotate(10deg);
}

.satur {
  filter: saturate(90%);
}

.invert {
  filter: invert(10%);
}

.sep {
  filter: sepia(10%);
}

.blur {
  filter: blur(10%);
}

.mix__filter {
  filter: contrast(200%) grayscale(40%) hue-rotate(10deg) saturate(90%)
    invert(10%) sepia(10%);
}

button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px black;
}

.like-icon:focus-visible {
  box-shadow: none;
}

/* .button__text:hover {
  mix-blend-mode: difference;
} */

.animation-button:hover::before {
  transform: translateX(0);
}

.card-container__icon-button:focus {
  outline: none;
}

.card-container__icon-button:focus-visible {
  outline: 2px solid black;
}

@media (width <= 701px) {
  .header {
    width: 100%;
    padding: 120px 0;
  }
}

@media (width <= 376px) {
  main {
    max-width: 375px;
    gap: 46px;
  }

  .span__decoration {
    right: 11px;
    top: 18px;
  }

  .header {
    width: 100%;
    padding-top: 120px;
    padding: 120px 0;
  }

  .main__title {
    border-bottom: none;
  }

  .save__button {
    flex-direction: column;
  }

  .floppy-image {
    width: 28px;
    height: 28px;
  }

  .main__description {
    max-width: 321px;
  }

  .main__subtext {
    max-width: 321px;
  }

  /* .main__content {
    padding-top: 25.5px;
  } */

  .main__description-item {
    max-width: 310px;
  }
  .dialog__container-text {
    padding-left: 13px;
  }
  
  .dialog {
    max-width: 341px;
  }

  .dialog__button {
width: 257px;
  }


  /* .dialog__button */
}
