/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-family-font: "Inter", sans-serif;
  --decoration-family-font: "Press Start 2P", sans-serif;
  --font-weight-large: 700;
  --font-weight-small: "wght" 400;
  --bg-image: url(../images/background.png);
  --bg-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7, #1a1a1a);
}
